@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono&display=swap');
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */
/* Estructura básica */

body{
    background-color: #fdfdfd;
    margin: 0px;
    padding: 0px;
}

/* Estilos de la etiqueta header */

body header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #979797;
}

body header .container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Tres secciones del header */

/* Sección 1 */
body header .container .content-img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .container .content-img img{
    width: 100%;
}

/* Sección 2 */
body header .container .content-nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .container .content-nav nav{
    width: 100%;
}

body header .container .content-nav nav ul{
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .container .content-nav nav ul li{
    list-style: none;
    padding: 5px 10px;
}

body header .container .content-nav nav ul li a{
    text-decoration: none;
    color: #020202;
    font-size: 1.3em;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
}

/* Sección 3 */
body header .container .content-logs{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .container .content-logs div a svg{
    width: 30px;
    height: 30px;
    color: #d8661b;
    margin-left: 10px;
}

/* Estilos del main */
main section .principal:nth-child(1):nth-child(1):nth-child(1):nth-child(1){
    width: 80%;
    display: flex;
}

main section .principal .row:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section  .principal .row:nth-child(1) img{
    width: 80%;
}

main section .principal .row:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

}

/* Contenedor 2 */

main section .principal:nth-child(2){
    width: 100%;
    display: flex;
}

main section .principal:nth-child(2) div{
    width: 30%;
}

main section .principal:nth-child(2) div h3{
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

main section .principal:nth-child(2) div figure{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;

}

main section .principal:nth-child(2) div:nth-child(1) figure img{
    width: 78%;
}

main section .principal:nth-child(2) div:nth-child(2) figure img{
    width: 105%;
}

main section .principal:nth-child(2) div:nth-child(3) figure img{
    width: 100%;
}

main section .principal:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}


main section .titulo:nth-child(3){
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

}


/* End estilos del main */

/* estilos contact */

/* Estilos del footer */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #979797;
    margin-top: 50px;
    padding-top: 30px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div span{
    width: 100%;
    color: darkgray;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    text-align: center;
}
.fondo1 {
    background-image:url(https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_960_720.jpg) ;
    background-size: cover;
    display: flex;
}

.col-1{
    width: 50%;
    background-color:white;
    float: right;
    opacity: 0.5;
}
.col-2{
    width: 50%;
    background-color:white;
    float:left ;
    opacity: 0.5;
}
#producto{
    width: 500px;
    height: 500px;
    padding: 50px;
    padding-left: 150px;
    
}
h1{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
}
form{
    text-align: center;
}





